.manufacturing-dates-container {
    display: flex;
  }
  
  .manufacturing-dates-container input {
    margin-right: 10px;
  }

  /* .manufacturing-dates-container p{
    margin-right: 80px;
  } */
  

  